
    <!--header area start-->
    <header class="justify-content-center">
      <label for="check" >
        
      </label>
      <div class=" text-center ">
          <h4>Prueba Técnica Full-Stack Developers</h4>
      </div>
      
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar bg-dark text-dark">
        <img src="./assets/Ladonware logo.png" class="mobile_profile_image" alt="">
      </div>
      <div class="mobile_nav_items">

        
      </div>
    </div>
    <!--mobile navigation bar end-->